
/* basic css style here */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  background-color: black;
  color: #FFFFFF;
}

/* shared style here */
.btn{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 16px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 25px;
    color: #FFFFFF;
    background: linear-gradient(45deg, #F7E93F 10%, #FB09B4, #9100F8 );
    cursor: pointer;
}
.btn-2, .btn:hover{
  animation: bounce 0.5s infinite;
}

@keyframes bounce{
  0% {
    transform: translateY(0);
    }
  50% {
    transform: translateY(-10px);
    }
  100% {
    transform: translateY(0);
    }
}
/* feature card shared style */
.style img{
    margin-bottom: 16px;
}
.style h2{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}
.style p{
    font-size: 16px;
    line-height: 24px;
    opacity: 60%;
}

/* navbar releted style */
#nav-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 36px 0px;
    align-items: center;
}
.logo{
    font-size: 2rem;
    font-weight: 700;
}
.gardian{
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#nav-container ul{
    list-style: none;
    display: flex;
    font-size: 1rem;
    font-weight: 400;
    gap: 32px;
}
#nav-container ul a{
    text-decoration: none;
    color: #FFFFFF;
}
#nav-container img{
    display: none;
}

/* bannar releted style */
#bannar{
    background: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    padding: 100px 0px;
}
.bannar-container{
    max-width: 1200px;
    margin: 0px auto;
    text-align: center;
    position: relative;
}
.badge{
    font-size: 1.2rem;
    font-weight: 600;
    color: #1A0B2E;
    padding: 8px 16px;
    background-color: #00FF88;
    max-width: 75px;
    height: 38px;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 3%;
    left: 57%;
}
.bannar-img{
    align-items: center;
    position: relative;
}
#img-2{
    position: absolute;
    top: 15%;
    left: 45%;
}
.bannar-content h1{
    font-size: 3.8rem;
    font-weight: 800;
    margin: 40px 0px 8px 0px;
}
.bannar-content p{
    font-size: 16px;
    margin-bottom: 24px;
    opacity: 80%;
}
.bannar-btn{
    display: flex;
    justify-content: center;
    gap: 8px;
}
.btn-2{
    display: flex;
    gap: 10px;
    font-size: 1rem;
    font-weight: 600;
    align-items: center;
    color: #00FF88;
    padding: 12px 20px;
    background: transparent;
    border: 2px solid #00FF88;
    border-radius: 30px;
    cursor: pointer;
}
/* about podcast style */
.about-podcast{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin: 50px 0px 160px 0px;
}
.about-podcast h2{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 16px;
}
.about-podcast p{
    font-size: 1rem;
    line-height: 20px;
    opacity: 80%;
}
/* achivment container style */
.achivment-container{
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 120px;
}
.achivment h2{
    font-size: 3rem;
    color: #00FF88;
    margin-bottom: 16px;
}
.achivment h3{
    font-size: 1rem;
    line-height: 24px;
    opacity: 80%;
}
/* feature releted style */
#backgraund{
background-color: #230E3D;
padding: 120px 0px;
}
.feature-title h1{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
}
.feature-container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 250px);
    gap: 30px;
}
.big-card{
    grid-row:span 2;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 107px 40px;
    border-radius: 20px;
}
.medium-card{
    grid-column: span 2;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border-radius: 20px;
}
.small-card{
    grid-column: span 1;
    grid-row: span 1;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border-radius: 20px;
}
/* epesode related style */
#feature-episode{
    padding: 120px 0px;
}
.episode-title{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
}
.episode-container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.episode{
    max-width: 380px;  
    background-color: #250D44; 
}
.episode iframe{
    width: 100%;
}
.episode-content{
    padding: 24px;
}
.episode-content h2{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
}
.episode-content p{
    font-size: 16px;
    line-height: 24px;
    opacity: 60%;
    margin-bottom: 12px;
}
.episode-content span{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #00FF88;
}
/* host releted style here */
.meet-title{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}
.host-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    gap: 24px;
    align-items: center;
}
.host-discribtion h2{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
}
.host-discribtion p{
    font: 16px;
    line-height: 24px;
    opacity: 60%;
    margin-bottom: 16px;
}
.social-media{
    display: flex;
    gap: 10px;
}
.icone{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: black;
    padding: 10px;   
}
/* footer related style */
#footer-bacgraund{
    padding: 120px 0px;
    background: url(../images/footer-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.footer-content{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.footer-content h1{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 32px;
}
.social-icon{
    display: flex;
    gap: 40px;
    justify-content: center;
}
.social-icon p{
    display: flex;
    align-items: center;
    gap: 8px;
    opacity: 60%;
    margin-bottom: 32px;
}
.copy-right{
    font-size: 16px;
    line-height: 24px;
    opacity: 60%;
}
@media screen and (max-width:576px) {
    #nav-container{
        max-width: 380px;
        margin: 0 auto;
        padding: 20px;
    }
    .logo{
    font-size: 32px;
    font-weight: 700;
    }
    #nav-container ul{
        display: none;
    }
    #nav-container .btn{
        display: none;
    }
    #nav-container img{
    display: block;
    cursor: pointer;
    }
    .btn{
        font-size: 10px;
        padding: 3px 4px;
        max-width: 200px;
        gap: 5px;
    }
    .btn-2{
    display: flex;
    gap: 5px;
    font-size: 10px;
    font-weight: 600;
    align-items: center;
    color: #00FF88;
    padding: 3px 4px;
    background: transparent;
    border: 1px solid #00FF88;
    }
    #bannar{
    max-width: 430px;
    background-size: cover;
    background-position: center ;
    margin-top: 0px;
    padding: 0px;
    }
    .bannar-container{
    max-width: 400px;
    }
    .badge{
    font-size: 16px;
    font-weight: 600;
    color: #1A0B2E;
    padding: 8px 16px;
    max-width: 70px;
    height: 35px;
    border-radius: 20px;
    position: absolute;
    top: 10%;
    left: 62%;
    }
    #img-1{
        max-width: 200px;
        margin-top: 40px;
    }
    #img-2{
    max-width: 80px;
    position: absolute;
    top: 20%;
    left: 40%;
    }
    .bannar-content h1{
    font-size: 40px;
    font-weight: 800;
    margin: 24px 0px 8px 0px;
    }
    .bannar-content p{
    font-size: 16px;
    margin-bottom: 24px;
    max-width: 400px;
    }
    .about-podcast{
        margin: 70px 0px;
    }
    .about-podcast h2{
    font-size: 2rem;
    }
    .about-podcast p{
        padding: 0px 20px;
        text-align: center;
    }
    .achivment-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    #backgraund{
    padding: 40px 0px;
    }
    .feature-title h1{
    font-size: 35px;
    }
    .feature-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    }
    .big-card, .medium-card, .small-card{
        grid-column: span 1;
        grid-row: span 1;
        padding: 24px;
    }
    #feature-episode{
    padding: 60px 0px;
    }
    .episode-title{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
    }
    .episode-container{
    grid-template-columns: repeat(1, 1fr);
    margin: 0px 20px;
    gap: 30px;
    }
    .meet-title{
    font-size: 40px;
    margin-bottom: 24px;
    }
    .host-container{
    flex-direction: column;
    text-align: center;
    }
    .social-media{
    margin: 0 84px;
    }
    #footer-bacgraund{
        padding: 20px 0px;
    }
    .footer-content h1{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 8px;
    }
    .social-icon{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0px 80px;
    justify-content: center;
    }
    .social-icon p{
    gap: 0px;
    margin-bottom: 8px;
    }  
}
@media screen and (min-width:993px) {
   #nav-container{
    max-width: 1100px;
    } 
    .achivment-container{
        margin-top: 0px;
    max-width: 1100px;
    }
    .achivment h2{
    font-size: 2.8rem;
    color: #00FF88;
    margin-bottom: 12px;
    }
    
}